@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@400;700&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    ;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.625rem;
}


.cabecalho-imagem {
    height: 6rem;
}

.cabecalho-menu {
    display: flex;
    gap: 2rem;
}

.cabecalho-menu-item {
    font-family: 'sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 1.125rem;
    padding: 1.25rem 1.5rem;
}

.conteudo {
    margin-bottom: 3rem;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 4rem;
    color: #fff2E7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 11rem;
    height: 3.75rem;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #2f2325;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}



.conteudo-principal-imagem {
    height: 26rem;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.625rem;
    margin-top: 3rem;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 3rem;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 3rem;
    color: #FFF2EF;
    margin-bottom: 1rem;
}

.conteudo-secundario-paragrafo {
    font-family: 'sarala', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: #ECD6C4;
}

.rodape {
    padding: 2rem;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 3rem;
    display: block;
    margin: 0 auto;
}


@media (max-width:768px) {

    html {
        font-size: 80%;
    }

    .cabecalho-imagem {
        height: 60px;
    }

    .cabecalho {
        gap: 0;
        background: #8E5D52;
        justify-content: space-between;

    }

    .cabecalho-menu-item {
        padding: 0 2px 2px 2px;
    }

    .conteudo-principal {
        flex-direction: column;
    }

    .conteudo-principal img {
        order: -1;
        height: 200px;
    }

    .conteudo-principal-escrito {
        gap: 10px;
        align-items: center;
        padding-top: 12px;
    }
}

@media (max-width:515px) {

    .cabecalho {
        justify-content: space-between;
    }

    .cabecalho-menu {
        display: none;
    }

    .traco-1,
    .traco-2,
    .traco-3 {
        background-color: #FFF;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-hamburguer {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #8E5D52;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-hamburguer {
        position: absolute;
        right: 0;
        top: 15px;
    }


    .menu-section.on .menu-hamburguer .traco-1 {
        transform: rotate(45deg) translate(7px, 7px)
    }

    .menu-section.on .menu-hamburguer .traco-2 {
        /* display:none*/
        opacity: 0;
    }

    .menu-section.on .menu-hamburguer .traco-3 {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 2.5rem;
        line-height: 8rem;
    }
}


@media (max-width:425px) {

    html {
        font-size: 60%;
    }

    .cabecalho-imagem {
        height: 60px;
    }

    .cabecalho {
        gap: 0;
        background: #8E5D52;
    }

    .cabecalho-menu-item {
        padding: 0 2px 2px 2px;
    }

    .conteudo-principal {
        flex-direction: column;
    }

    .conteudo-principal img {
        order: -1;
        height: 200px;

    }

    .conteudo-principal-escrito {
        gap: 10px;
        align-items: center;
        padding-top: 12px;
    }

    .conteudo-secundario {
        padding: 1.125rem;
    }

}


@media(max-width:320px) {
    body {
        min-width: 320px;
        display: block;
    }


}